<div class="home">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="ml-4 card-title">Sistema de rastreamento</h5>
      <a routerLink="gps" class="btn btn-primary mt-2 ml-4">Iniciar localização</a>
      <div class="members mt-4 ml-4">
        <p class="card-text">- André Guilherme</p>
        <p class="card-text">- Celso Gabriel</p>
        <p class="card-text">- João Victor Melo</p>
        <p class="card-text">- Ricardo Lyra</p>
      </div>
    </div>
  </div>
</div>
